<div id="wrapper" >
<nav  th:fragment="left-side" id="sidebar" role="navigation" class="navbar-default navbar-static-side" style="min-height: 100%;">
    <div class="sidebar-collapse menu-scroll" style="height: auto;">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="" class="img-circle">
                </div>
                <div class="info">
                    <p>后台管理员</p>
                    <ul class="list-inline list-unstyled">
                        <li><a href="extra-profile.html" data-hover="tooltip" title="" data-original-title="Profile"><i class="fa fa-user"></i></a>
                        </li>
                        <li><a href="email-inbox.html" data-hover="tooltip" title="" data-original-title="Mail"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li><a href="#" data-hover="tooltip" title="" data-toggle="modal" data-target="#modal-config" data-original-title="Setting"><i class="fa fa-cog"></i></a>
                        </li>
                        <li><a href="extra-signin.html" data-hover="tooltip" title="" data-original-title="Logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>

            <li class=""><a href="#"><i class="fa fa-th-list fa-fw">
                <div class="icon-bg bg-blue"></div></i>
                <span class="menu-title">订单管理</span>
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li><a href="table-basic.html"><i class="fa fa-th-large"></i><span class="submenu-title"></span>订单汇总</a>
                    </li>
                    <li><a href="table-responsive.html"><i class="fa fa-tablet"></i><span class="submenu-title">修改订单</span></a>
                    </li>
                    <li><a href="table-action.html"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">打印订单</span></a>
                    </li>
                    <li><a href="table-filter.html"><i class="fa fa-filter"></i><span class="submenu-title">生成报表</span></a>
                    </li>
                </ul>
            </li>



            <li class="active"><a href="#"><i class="fa fa-group">
                <div class="icon-bg bg-blue"></div></i>
                <span class="menu-title">用户管理</span>
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level in collapse">
                    <li><a href="page-gallery.html"><i class="fa fa-suitcase"></i><span class="submenu-title">Gallery</span></a>
                    </li>
                    <li><a href="page-timeline.html"><i class="fa fa-steam"></i><span class="submenu-title">Timeline</span></a>
                    </li>
                    <li><a href="page-blog.html"><i class="fa fa-puzzle-piece"></i><span class="submenu-title">Blog</span></a>
                    </li>
                    <li><a href="page-blog-item.html"><i class="fa fa-chain"></i><span class="submenu-title">Blog Item</span></a>
                    </li>
                    <li ><a href="page-about.html"><i class="fa fa-group"></i><span class="submenu-title">About Us</span></a>
                    </li>
                    <li><a href="page-contact.html"><i class="fa fa-send-o"></i><span class="submenu-title">Contact Us</span></a>
                    </li>
                    <li><a href="page-calendar.html"><i class="fa fa-calendar"></i><span class="submenu-title">Full Calendar</span></a>
                    </li>
                </ul>
            </li>

            <li class="active"><a href="#"><i class="fa fa-group">
                <div class="icon-bg bg-blue"></div></i>
                <span class="menu-title">商品管理</span>
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level in collapse">
                    <li><a href="page-gallery.html"><i class="fa fa-suitcase"></i><span class="submenu-title">添加商品总类</span></a>
                    </li>
                    <li><a href="page-timeline.html"><i class="fa fa-steam"></i><span class="submenu-title">查看库存</span></a>
                    </li>
                    <li><a href="page-blog.html"><i class="fa fa-puzzle-piece"></i><span class="submenu-title">查看商品列表</span></a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
</div>